In [23]:
import pandas as PD
import numpy as NP

In [24]:
df_orig:PD.DataFrame = PD.read_csv("data/application_data.csv")

In the code block below, these are selected because of their relative abundance of non-null values.

In [25]:
# Finding out the percentage of missing values in each column in the given dataset:
percent_missing_app = round(100*(df_orig.isnull().mean()), 2)
#Get the columns having greater than 50% null value for application data
percent_missing_app = percent_missing_app[percent_missing_app.values > 25.0]
#Removing those columns which have missing values more than 25% in application data
cols_dropped=([percent_missing_app[percent_missing_app >=25.00].index])
df_dropped = df_orig.drop(labels=cols_dropped[0],axis=1)

In [26]:
df_dropped.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE', 'NAME_TYPE_SUITE',
       'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE', 'NAME_FAMILY_STATUS',
       'NAME_HOUSING_TYPE', 'REGION_POPULATION_RELATIVE', 'DAYS_BIRTH',
       'DAYS_EMPLOYED', 'DAYS_REGISTRATION', 'DAYS_ID_PUBLISH', 'FLAG_MOBIL',
       'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE', 'FLAG_CONT_MOBILE', 'FLAG_PHONE',
       'FLAG_EMAIL', 'CNT_FAM_MEMBERS', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'WEEKDAY_APPR_PROCESS_START',
       'HOUR_APPR_PROCESS_START', 'REG_REGION_NOT_LIVE_REGION',
       'REG_REGION_NOT_WORK_REGION', 'LIVE_REGION_NOT_WORK_REGION',
       'REG_CITY_NOT_LIVE_CITY', 'REG_CITY_NOT_WORK_CITY',
       'LIVE_CITY_NOT_WORK_CITY', 'ORGANIZATION_TYPE', 'EXT_SOURCE_2',
       'EXT_SOURCE_3', 'OBS_30_CNT_SOCIAL_CIRCLE', 'DEF_30_CNT_SOCIAL_CIRCLE',
       'OBS_60_CNT_SOCIAL_CIRCLE', 'DEF_60_CNT_SOCIAL_CIRCLE',
       'DAYS_LAST_PHONE_CHANGE', 'FLAG_DOCUMENT_2', 'FLAG_DOCUMENT_3',
       'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5', 'FLAG_DOCUMENT_6',
       'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8', 'FLAG_DOCUMENT_9',
       'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11', 'FLAG_DOCUMENT_12',
       'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14', 'FLAG_DOCUMENT_15',
       'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17', 'FLAG_DOCUMENT_18',
       'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20', 'FLAG_DOCUMENT_21',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [27]:
df_dropped = df_dropped.dropna()
df_dropped = df_dropped.drop("SK_ID_CURR", axis=1)

In [28]:
numerical_df = df_dropped.select_dtypes(include='number')
categorical_col = []
for col in numerical_df:
    if col == "TARGET": continue
    unique_values = len(numerical_df[col].unique())
    print(col, "---", unique_values)
    if unique_values < 4:
        categorical_col.append(col)

CNT_CHILDREN --- 15
AMT_INCOME_TOTAL --- 2022
AMT_CREDIT --- 5137
AMT_ANNUITY --- 12964
AMT_GOODS_PRICE --- 801
REGION_POPULATION_RELATIVE --- 81
DAYS_BIRTH --- 17362
DAYS_EMPLOYED --- 12263
DAYS_REGISTRATION --- 15369
DAYS_ID_PUBLISH --- 6148
FLAG_MOBIL --- 1
FLAG_EMP_PHONE --- 2
FLAG_WORK_PHONE --- 2
FLAG_CONT_MOBILE --- 2
FLAG_PHONE --- 2
FLAG_EMAIL --- 2
CNT_FAM_MEMBERS --- 17
REGION_RATING_CLIENT --- 3
REGION_RATING_CLIENT_W_CITY --- 3
HOUR_APPR_PROCESS_START --- 24
REG_REGION_NOT_LIVE_REGION --- 2
REG_REGION_NOT_WORK_REGION --- 2
LIVE_REGION_NOT_WORK_REGION --- 2
REG_CITY_NOT_LIVE_CITY --- 2
REG_CITY_NOT_WORK_CITY --- 2
LIVE_CITY_NOT_WORK_CITY --- 2
EXT_SOURCE_2 --- 107787
EXT_SOURCE_3 --- 814
OBS_30_CNT_SOCIAL_CIRCLE --- 33
DEF_30_CNT_SOCIAL_CIRCLE --- 10
OBS_60_CNT_SOCIAL_CIRCLE --- 32
DEF_60_CNT_SOCIAL_CIRCLE --- 9
DAYS_LAST_PHONE_CHANGE --- 3736
FLAG_DOCUMENT_2 --- 1
FLAG_DOCUMENT_3 --- 2
FLAG_DOCUMENT_4 --- 2
FLAG_DOCUMENT_5 --- 2
FLAG_DOCUMENT_6 --- 2
FLAG_DOCUMENT_7 --- 2
FLAG_DOCUMENT_8 --- 2
FLAG_DOCUMENT_9 --- 2
FLAG_DOCUMENT_10 --- 2
FLAG_DOCUMENT_11 --- 2
FLAG_DOCUMENT_12 --- 2
FLAG_DOCUMENT_13 --- 2
FLAG_DOCUMENT_14 --- 2
FLAG_DOCUMENT_15 --- 2
FLAG_DOCUMENT_16 --- 2
FLAG_DOCUMENT_17 --- 2
FLAG_DOCUMENT_18 --- 2
FLAG_DOCUMENT_19 --- 2
FLAG_DOCUMENT_20 --- 2
FLAG_DOCUMENT_21 --- 2
AMT_REQ_CREDIT_BUREAU_HOUR --- 5
AMT_REQ_CREDIT_BUREAU_DAY --- 9
AMT_REQ_CREDIT_BUREAU_WEEK --- 9
AMT_REQ_CREDIT_BUREAU_MON --- 24
AMT_REQ_CREDIT_BUREAU_QRT --- 9
AMT_REQ_CREDIT_BUREAU_YEAR --- 24

In [29]:
df_continuous = numerical_df.drop(categorical_col, axis = 1)
for col in df_continuous:
    if col == "TARGET": continue
    unique_values = len(df_continuous[col].unique())
    print(col, "---", unique_values)

CNT_CHILDREN --- 15
AMT_INCOME_TOTAL --- 2022
AMT_CREDIT --- 5137
AMT_ANNUITY --- 12964
AMT_GOODS_PRICE --- 801
REGION_POPULATION_RELATIVE --- 81
DAYS_BIRTH --- 17362
DAYS_EMPLOYED --- 12263
DAYS_REGISTRATION --- 15369
DAYS_ID_PUBLISH --- 6148
CNT_FAM_MEMBERS --- 17
HOUR_APPR_PROCESS_START --- 24
EXT_SOURCE_2 --- 107787
EXT_SOURCE_3 --- 814
OBS_30_CNT_SOCIAL_CIRCLE --- 33
DEF_30_CNT_SOCIAL_CIRCLE --- 10
OBS_60_CNT_SOCIAL_CIRCLE --- 32
DEF_60_CNT_SOCIAL_CIRCLE --- 9
DAYS_LAST_PHONE_CHANGE --- 3736
AMT_REQ_CREDIT_BUREAU_HOUR --- 5
AMT_REQ_CREDIT_BUREAU_DAY --- 9
AMT_REQ_CREDIT_BUREAU_WEEK --- 9
AMT_REQ_CREDIT_BUREAU_MON --- 24
AMT_REQ_CREDIT_BUREAU_QRT --- 9
AMT_REQ_CREDIT_BUREAU_YEAR --- 24

In [30]:
df_continuous.to_csv("cleaned_continuous.csv", index=False)

In [31]:
# Normalisation
df_normalised:PD.DataFrame = PD.DataFrame()
for colName in df_continuous:
    if colName == "TARGET":
        df_normalised[colName] = df_continuous[colName]
        continue
    col:PD.Series = df_continuous[colName]
    minimum = col.min()
    maximum = col.max()
    valueRange = maximum - minimum
    df_normalised[colName] = (col - minimum) / valueRange
df_normalised

,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,...,DEF_30_CNT_SOCIAL_CIRCLE,OBS_60_CNT_SOCIAL_CIRCLE,DEF_60_CNT_SOCIAL_CIRCLE,DAYS_LAST_PHONE_CHANGE,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,0.000000,0.001508,0.090287,0.090032,0.077441,0.256321,0.898146,0.045086,0.852140,...,0.058824,0.005814,0.083333,0.729032,0.00,0.0,0.0,0.000000,0.000,0.043478
2,0,0.000000,0.000354,0.022472,0.020025,0.023569,0.134897,0.351213,0.046161,0.827335,...,0.000000,0.000000,0.000000,0.805257,0.00,0.0,0.0,0.000000,0.000,0.000000
5,0,0.000000,0.000623,0.111235,0.101018,0.103255,0.491595,0.471327,0.042604,0.798557,...,0.000000,0.000000,0.000000,0.394026,0.00,0.0,0.0,0.000000,0.125,0.043478
6,0,0.052632,0.001239,0.378458,0.154774,0.337823,0.491595,0.651812,0.038580,0.950835,...,0.000000,0.002907,0.000000,0.626762,0.00,0.0,0.0,0.037037,0.125,0.086957
7,0,0.000000,0.002854,0.370787,0.157792,0.371493,0.039215,0.362397,0.045577,0.813675,...,0.000000,0.005814,0.000000,0.744325,0.00,0.0,0.0,0.000000,0.000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307503,0,0.000000,0.000739,0.075034,0.063005,0.051627,0.311695,0.760685,0.045707,0.972641,...,0.088235,0.026163,0.083333,0.446834,0.00,0.0,0.0,0.037037,0.000,0.086957
307505,0,0.000000,0.000739,0.044944,0.079695,0.046016,0.311695,0.046619,1.000000,0.701321,...,0.000000,0.000000,0.000000,1.000000,0.00,0.0,0.0,0.074074,0.000,0.000000
307508,0,0.000000,0.001085,0.157969,0.110618,0.135802,0.065247,0.584023,0.026076,0.726937,...,0.000000,0.017442,0.000000,0.543847,0.25,0.0,0.0,0.037037,0.000,0.043478
307509,1,0.000000,0.001239,0.081175,0.072499,0.069585,0.069553,0.755492,0.034258,0.896158,...,0.000000,0.000000,0.000000,0.923059,0.00,0.0,0.0,0.000000,0.000,0.000000
307510,0,0.000000,0.001123,0.157303,0.185258,0.158249,0.635991,0.476177,0.043455,0.792153,...,0.000000,0.000000,0.000000,0.811947,0.00,0.0,0.0,0.074074,0.000,0.043478

In [32]:
df_normalised.reset_index(inplace=True)
df_normalised.to_csv("cleaned_continuous_normalised.csv", index=False)

In [33]:
df_categorical:PD.DataFrame = df_dropped.copy()
for col in df_continuous:
    if col == "TARGET": continue
    df_categorical = df_categorical.drop(col, axis=1)
df_categorical

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,1,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
2,0,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
5,0,Cash loans,M,N,Y,"Spouse, partner",State servant,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
6,0,Cash loans,F,Y,Y,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,...,0,0,1,0,0,0,0,0,0,0
7,0,Cash loans,M,Y,Y,Unaccompanied,State servant,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307503,0,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Higher education,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
307505,0,Cash loans,F,N,Y,Unaccompanied,Pensioner,Secondary / secondary special,Single / not married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
307508,0,Cash loans,F,N,Y,Unaccompanied,Working,Higher education,Separated,House / apartment,...,0,0,0,0,0,0,0,0,0,0
307509,1,Cash loans,F,N,Y,Unaccompanied,Commercial associate,Secondary / secondary special,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0
307510,0,Cash loans,F,N,N,Unaccompanied,Commercial associate,Higher education,Married,House / apartment,...,0,0,0,0,0,0,0,0,0,0

In [34]:
for col in df_categorical:
    if col == "TARGET": continue
    unique_values = len(df_categorical[col].unique())
    print(col, "---", unique_values)

NAME_CONTRACT_TYPE --- 2
CODE_GENDER --- 3
FLAG_OWN_CAR --- 2
FLAG_OWN_REALTY --- 2
NAME_TYPE_SUITE --- 7
NAME_INCOME_TYPE --- 7
NAME_EDUCATION_TYPE --- 5
NAME_FAMILY_STATUS --- 5
NAME_HOUSING_TYPE --- 6
FLAG_MOBIL --- 1
FLAG_EMP_PHONE --- 2
FLAG_WORK_PHONE --- 2
FLAG_CONT_MOBILE --- 2
FLAG_PHONE --- 2
FLAG_EMAIL --- 2
REGION_RATING_CLIENT --- 3
REGION_RATING_CLIENT_W_CITY --- 3
WEEKDAY_APPR_PROCESS_START --- 7
REG_REGION_NOT_LIVE_REGION --- 2
REG_REGION_NOT_WORK_REGION --- 2
LIVE_REGION_NOT_WORK_REGION --- 2
REG_CITY_NOT_LIVE_CITY --- 2
REG_CITY_NOT_WORK_CITY --- 2
LIVE_CITY_NOT_WORK_CITY --- 2
ORGANIZATION_TYPE --- 58
FLAG_DOCUMENT_2 --- 1
FLAG_DOCUMENT_3 --- 2
FLAG_DOCUMENT_4 --- 2
FLAG_DOCUMENT_5 --- 2
FLAG_DOCUMENT_6 --- 2
FLAG_DOCUMENT_7 --- 2
FLAG_DOCUMENT_8 --- 2
FLAG_DOCUMENT_9 --- 2
FLAG_DOCUMENT_10 --- 2
FLAG_DOCUMENT_11 --- 2
FLAG_DOCUMENT_12 --- 2
FLAG_DOCUMENT_13 --- 2
FLAG_DOCUMENT_14 --- 2
FLAG_DOCUMENT_15 --- 2
FLAG_DOCUMENT_16 --- 2
FLAG_DOCUMENT_17 --- 2
FLAG_DOCUMENT_18 --- 2
FLAG_DOCUMENT_19 --- 2
FLAG_DOCUMENT_20 --- 2
FLAG_DOCUMENT_21 --- 2

In [35]:
df_categorical = df_categorical.drop("FLAG_MOBIL",axis=1)
df_categorical.reset_index(inplace=True, drop=True)

In [36]:
df_categorical.drop("FLAG_DOCUMENT_2", axis=1, inplace=True)

In [37]:
df_categorical.to_csv("cleaned_categorical.csv", index=False)

In [38]:
# Manual one hot encoding
df_categorical_final = PD.DataFrame()
for colName in df_categorical:
    if colName == "TARGET": 
        df_categorical_final[colName] = df_categorical[colName]
        continue
    col = df_categorical[colName]
    if col.unique().__len__() == 2 and col.dtype == NP.int64:
        df_categorical_final[colName] = col
        continue
    onehot = PD.get_dummies(df_categorical[colName]).rename(lambda x: colName + "_" + str(x), axis= 1)
    df_categorical_final = PD.concat([df_categorical_final, onehot], axis = 1)
df_categorical_final

,TARGET,NAME_CONTRACT_TYPE_Cash loans,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_F,CODE_GENDER_M,CODE_GENDER_XNA,FLAG_OWN_CAR_N,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_N,FLAG_OWN_REALTY_Y,...,FLAG_DOCUMENT_12,FLAG_DOCUMENT_13,FLAG_DOCUMENT_14,FLAG_DOCUMENT_15,FLAG_DOCUMENT_16,FLAG_DOCUMENT_17,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21
0,1,1,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,1,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,1,0,0,0,1,0,1,...,0,0,1,0,0,0,0,0,0,0
4,0,1,0,0,1,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244275,0,1,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
244276,0,1,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
244277,0,1,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
244278,1,1,0,1,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
244279,0,1,0,1,0,0,1,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [39]:
df_categorical_final.to_csv("cleaned_categorical_onehot.csv", index=False)

In [40]:
# just to ensure that they are the same length
len(df_categorical_final) == len(df_normalised)

True